{% extends "layout.html" %}

{% block title %}
    Revision
{% endblock %}

{% block main %}
    <form action="/revision_decks" method="post">


            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="mb-3 text-center">
                        <label for="decks[]" class="form-label">Choose the decks you would like to revise from:</label>
                        <br>
                        <div class="form-check d-inline-block text-start">
                            {% for deck in decks %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="decks[]" value="{{ deck.deck }}" id="deck-{{ deck.deck }}">
                                    <label class="form-check-label" for="deck-{{ deck.deck }}">
                                        {{ deck.deck }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
